@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("/fonts/ms_sans_serif.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"Pixelated MS Sans Serif";src:url("/fonts/ms_sans_serif_bold.woff") format("woff");font-weight:700;font-style:normal;
}

html {
    background-color: #bbb;
    font-size: 62.5%;
}
body {
    font-family: "Pixelated MS Sans Serif", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: black;
}
button {
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.group label {
    margin-bottom: 0.5em;
}
.group input {
    padding: 0.5em;
}
